@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
  font-family: Shrikhand-Regular;
  src: url(Shrikhand-Regular.ttf);
}

/* Variables */
ul {
  font-family: Roboto-Regular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: Roboto-Regular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5em 0;
}

p a {
  text-decoration: none;
}

html {
  margin-bottom: 0;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto-Regular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 0.5em;
}

.headerLogo {
  width: auto;
  height: auto;
  width: 100%;
  margin: 1em 0;
}

/* Sous-header */
.fa-map-marker-alt {
  margin-right: 5px;
  color: rgba(17, 17, 19, 0.863);
}

#sousheaderPlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #dddddd;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
  padding: 0.5em 0;
  font-weight: bold;
}

.sousheader__container {
  background-color: whitesmoke;
  padding-bottom: 2em;
  box-shadow: 3px 7px 5px -4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 7px 5px -4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 7px 5px -4px rgba(0, 0, 0, 0.25);
}

.sousheader__container--titre {
  font-family: Roboto-Regular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 1em;
  margin-top: 0;
}

.sousheader-container__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2rem;
  text-align: center;
}

/* Nav */
nav {
  font-weight: bold;
  font-family: Roboto-Regular;
  padding: 0 5%;
  margin-bottom: 2em;
}

.nav--title {
  font-family: Roboto-Regular, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 24px;
}

.wrap__elementsnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Elements du menu "Fonctionnement" */
.nav__wrap__line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2em;
  background-color: whitesmoke;
  padding: 1.2rem 1.5rem;
  border-radius: 3em;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.nav__wrap__line:hover, .nav__wrap__line :focus {
  background-color: #a262f127;
  cursor: pointer;
}

.nav__wrap__line:hover i, .nav__wrap__line :focus i {
  color: #9356DC;
}

.nav__wrap__line p {
  padding-right: 10%;
}

.nav__wrap__line > * {
  margin-left: -25px;
}

.nav__wrap__line > div {
  background-color: #9356DC;
  border-radius: 50%;
  line-height: 12px;
  color: white;
  width: 12px;
  height: 12px;
  padding: 10px;
  text-align: center;
  font: 14px Roboto-Regular bold;
}

.nav__wrap__line i {
  color: grey;
}

.nav__wrap__line p {
  color: black;
}

/* Icones Coeur & Fill */
/* Animation remplissage du coeur on hover */
.Article__titre__wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart-wrapper {
  position: relative;
  width: 16px;
}

.heart-wrapper:hover {
  cursor: pointer;
}

.heart-wrapper:focus {
  cursor: pointer;
}

.icon-filled {
  padding: 0;
  margin: 0;
}

.fa-heart {
  background-color: #FF79DA;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 1.6px;
  left: 2px;
  height: 0;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.fa-heart-o {
  color: rgba(175, 173, 173, 0.822);
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.64);
}

.fa-heart-o::before {
  font-size: 24px;
  z-index: 3;
  position: relative;
}

.heart-wrapper .heart-fill-hover:hover .fa-heart {
  height: 100%;
  font-size: 22px;
}

.heart-wrapper .heart-fill-hover:focus .fa-heart {
  height: 100%;
  font-size: 22px;
}

.heart-fill-hover:hover .fa-heart-o {
  color: #FF79DA;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  font-size: 22px;
}

.heart-wrapper {
  padding-right: 20px;
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
}

/* bouton */
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1.2em 1em;
  background-color: #9356DC;
  border-radius: 10em;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: white;
  background: #ff79da;
  background: linear-gradient(160deg, #ff79da 10%, #9356dc 90%);
  background: -moz-linear-gradient(160deg, #ff79da 10%, #9356dc 90%);
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
}

.button:hover {
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
  cursor: pointer;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  opacity: 89%;
}

.nav__Line {
  font-weight: lighter;
}

.nav__Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containers--restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  width: 340px;
  max-height: 100%;
  height: 220px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.figureText {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
}

/* Article */
article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
}

.article-title {
  font-size: 24px;
  padding-left: 5%;
}

figure {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 1px 1px 6px black;
          box-shadow: 1px 1px 6px black;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
}

figcaption > div {
  font: 1em;
  font-weight: bold;
  padding-left: 0.5em;
  padding-bottom: 0.4em;
  padding-top: 0.5em;
  text-decoration: none;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.figcaption__mod {
  margin-top: 0;
}

.captionLeft {
  width: 80%;
  padding-top: 0;
}

.captionRight {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nouveau {
  position: relative;
  bottom: 180px;
  left: 230px;
  width: 80px;
  text-align: center;
  z-index: 3;
  background-color: #99E2D0;
  color: #28856e;
  border: 0;
  padding: 5px 10px;
  font: bold;
  text-shadow: 0px 2px 4px rgba(48, 161, 133, 0.3);
}

.imgArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
.titreFooter {
  color: white;
  font-size: 20px;
  font-family: Shrikhand-Regular;
  padding-left: 10%;
  padding-top: 1.5em;
  margin: 0;
  font-weight: 100;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}

footer {
  background-color: rgba(17, 17, 19, 0.863);
  width: 100%;
  margin-bottom: 0;
  height: auto;
}

.fa-utensils {
  color: white;
  margin-right: 5px;
}

.fa-hands-helping {
  color: white;
  margin-right: 5px;
}

.listcontainerFooter {
  margin-bottom: 0;
  padding-left: 10%;
  padding-bottom: 5%;
}

.elementListFooter {
  color: white;
  padding: 0.3em 0;
  width: 70%;
}

a.mail {
  color: white;
  text-decoration: none;
}

/* Animation loading spinner */
.loadingSpinner {
  width: 100px;
  height: 100px;
  border: 12px solid #9356DC;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  -webkit-animation: spin linear 2s forwards, opacity1 0.4s forwards 2s;
          animation: spin linear 2s forwards, opacity1 0.4s forwards 2s;
}

/* Page spinner */
.wrapSpinner {
  display: block;
  background-color: whitesmoke;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  -webkit-animation: disparait 0s forwards 2s;
          animation: disparait 0s forwards 2s;
}

@-webkit-keyframes opacity1 {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes opacity1 {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes disparait {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

@keyframes disparait {
  from {
    width: 100%;
    height: 100%;
  }
  to {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

/* Loading Spinner */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
