@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
    font-family: Shrikhand-Regular;
    src: url(Shrikhand-Regular.ttf);
  }


@mixin flexcenter {
    display: flex ;
    justify-content: center ;
    align-self: center;
}
/* Variables */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fontregular: Roboto-Regular;
$fontimportant: Shrikhand-Regular;
$background-color:rgb(245, 245, 245);

ul{font-family: $fontregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p{font-family: $fontregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
a{
text-decoration: none;}
margin: 0.5em 0;
}
html{margin-bottom : 0 ;}
body{margin : 0 ;
    @include flexcenter;
    flex-direction: column;
    font-family: $fontregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

    /* Header */
}
header{@include flexcenter ;
    margin-top: 0.5em ;
}
.headerLogo{
    width: auto ;
    height : auto ;
    width : 100%;
    margin : 1em 0;
}
    /* Sous-header */
.fa-map-marker-alt{margin-right: 5px; color : rgba(17, 17, 19, 0.863)}
#sousheaderPlace{
    @include flexcenter ;
    background-color: rgb(221, 221, 221);
    box-shadow: 1px 1px 4px black;
    padding: 0.5em 0;
    font-weight: bold;
    }

.sousheader__container{background-color :$background-color ;padding-bottom: 2em;}
.sousheader__container--titre{font-family: $fontregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex ;
flex-wrap: wrap;
font-size: 24px;
justify-content: center ;
text-align: center;
padding-top:1em;
margin-top: 0;}

.sousheader-container__texte{@include flexcenter ;
     flex-wrap : wrap;
    padding : 0 2rem ;
    text-align: center;}

/* Nav */
nav{font-weight: bold;
font-family: $fontregular;
padding : 0 5% ;
margin-bottom: 2em; }

.nav--title{font-family: $fontregular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: left;
display : inline-block;
margin-top : 2em ;
margin-bottom : 1em ;
font-size : 24px ;}

.wrap__elementsnav{display: flex;
    flex-direction: column;
}

/* Elements du menu "Fonctionnement" */
.nav__wrap__line{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em ;
    background-color: $background-color; padding : 1.2rem 1.5rem ;
    border-radius: 3em;
    transition: all 0.7s ease-out;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.30);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.30);
    &:hover,:focus{
        background-color: #a262f127;
        cursor: pointer;
        & i {
            color: $primary-color;
        }
    }
    & p {padding-right: 10%;}
    & > *{margin-left: -25px;}
    & > div{
        background-color: #9356DC;
        border-radius: 50%;
        line-height: 12px;
        color: white;
        width: 12px;
        height: 12px;
        padding: 10px;
        text-align: center;
        font: 14px $fontregular bold;
    }
    & i {
        color: grey;
    }
        & p {
            color: black;
    }
}
.fa-heart{padding-right: 1em ; font-size: 20px ; color : rgba(17, 17, 19, 0.863);
}

h3{
    @include flexcenter ;
    margin : 0;
}

    /* bouton */
.button{
    @include flexcenter;
    padding : 1.2em 0;
    background-color : $secondary-color ;
    border-radius: 10em;
    width :55%;
    margin-left : auto ;
    margin-right : auto ;
    font-weight: bold ;
    color : white ;
    box-shadow: 1px 1px 6px rgb(255, 254, 254);
        &:hover
            {box-shadow: 2px 2px 6px black;
            background-color: #fa7fd7;
            cursor: pointer;
            transform: scale(1.1);
            transition-duration: 400ms;
            }
        }


.nav__Container{display : flex ; justify-content : space-between ; align-items : center ;}
.containers--restaurants{@include flexcenter; width: 90%;}
ul{list-style:none;
}

img {
    width: 340px;
    max-height: 100%;
    height: 200px;
    border-top-left-radius:1em;
    border-top-right-radius: 1em;

}

.figureText{display: inline-flex ;
    justify-content: space-between ;}

a {text-decoration: none;}

/* Article */
article{
@include flexcenter ; flex-direction: column;
background-color : $background-color;
width: 100%;}

.article-title{font-size : 24px ; padding-left: 5%;}
figure{display : inline-block ;
margin-left: auto;
margin-right: auto;
background-color : white ;
border-radius: 1em ;
box-shadow: 1px 1px 6px rgb(0, 0, 0);
}

figcaption{display: flex;}
figcaption>div{font: 1em ;
    font-weight: bold;
    padding-left: 0.5em;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
    text-decoration: none;
    color: black;
    margin-top:0 ;
    margin-bottom: 0;}

.captionLeft{width: 80%; padding-top: 0;}
.captionRight{width: 20%; display : flex ;justify-content: center; align-items: center;}

.imgArticle{
    display : flex ;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */
.titreFooter{color : white ; 
    font-size : 20px ;
    font-family : $fontimportant;
    padding-left : 10% ;
    padding-top: 1.5em;
    margin : 0 ;
    font-weight: 100;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.6);
}

footer{
    background-color : rgba(17, 17, 19, 0.863);
    width: 100%;
    margin-bottom: 0;
    height : auto ;
}

.fa-utensils{
    color: white;
    margin-right: 5px;}
.fa-hands-helping{color: white;
    margin-right: 5px;}
.listcontainerFooter{margin-bottom:0;
    padding-left : 10% ;
    padding-bottom: 5%;}
.elementListFooter{
    color : white ;
    padding : 0.3em 0 ;
    width: 70%;}
