
/* From 600px & onwards */
@media (min-width: 600px) {
    .nav__wrap__line {
        width: 70%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .nav__wrap__line > p {
        padding-right: 20%;
    }
}


@media (min-width: 1049px) {
    .article-title {
        display: inline-block;
    }
    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .containers--restaurants {
        display: flex;
        flex-direction: row;
    }
    .nav__wrap__line {
        width: 35%;
    }
    .wrap__elementsnav {
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .listcontainerFooter {
        display: flex;
        justify-content: center;
    }
    .button{width: 35%;}
    .logoFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        padding-left: 0;
        padding-right: 1%;
        flex-direction: column;
    }
    .fa-heart{font-size: 23px;}
    .fa-heart-o{font-size: 25px; position: relative; }
    .heart-fill-hover{display: flex ; align-items: center; justify-content: center;
        left : 0 ;
    bottom :0  ;}

    .titreFooter{font-size: 25px ;}
    .elementListFooter{font-size: 20px;}
}
