
/* From 600px to 1048px */
@media (min-width : 600px) and (max-width : 1048px){
    img{width: 100%;
    height: 450px;}
}

/* From 600px & onwards */
@media (min-width : 600px) {
    .nav__wrap__line{
        width : 70%;
    }
    .nav__wrap__line > p {
        padding-right: 20%;
    }
}
@media (min-width : 800px) and (max-width : 1048px){
    figure{margin: 5%;}
}

@media (min-width : 1049px) {
    .article-title{display: inline-block; }
    article{display : block;}
    .nav__wrap__line{width: 50%;
    }
    .wrap__elementsnav{justify-content: center; align-items: center; margin-left: auto; margin-right: auto;}


}