@import url("variables.scss");
@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
  font-family: Shrikhand-Regular;
  src: url(Shrikhand-Regular.ttf);
}

/* Variables */
img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

.button--Order {
  background-color: #9356DC;
  padding: 1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 1px 1px 6px black;
          box-shadow: 1px 1px 6px black;
  margin-bottom: 2em;
}

.button--Order:hover {
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
  background-color: #9356DC;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.imgArticle {
  margin-bottom: -50px;
}

h5 {
  font-size: 18px;
  margin: 0.2em 0;
}

.banner {
  position: relative;
  z-index: 0;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
  background-color: #dfdfdf;
  z-index: 1;
}

article.Article__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fa-heart {
  padding-right: 1em;
}

.fa-heart:hover {
  fill: #9356DC;
  cursor: pointer;
}

.fa-check-circle {
  color: white;
  background-color: #99E2D0;
  font-size: 20px;
}

.Articlelignetext {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
}

.Article__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Shrikhand-Regular;
  font-size: 30px;
  padding-left: 5%;
  font-weight: 100;
}

ul.Article__listContainer > li {
  width: 320px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border-radius: 1em;
  margin: 1em 5%;
  -webkit-box-shadow: 8px 7px 28px -3px rgba(0, 0, 0, 0.49);
          box-shadow: 8px 7px 28px -3px rgba(0, 0, 0, 0.49);
}

li:hover {
  cursor: pointer;
}

li:hover .Article__left {
  width: 80%;
}

li:hover .Article__right {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(20% left);
          transform: translateX(20% left);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.Article__menu__titre {
  font-size: 22px;
  font-weight: none;
  opacity: 80%;
  margin-left: 20px;
  -webkit-text-decoration: underline 3px solid #99E2D0;
          text-decoration: underline 3px solid #99E2D0;
  text-underline-position: under;
}

.Article__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  font-size: 15px;
  padding: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.Article__left > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Article__right {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  background-color: #99E2D0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
}

@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.list__element1 {
  opacity: 0;
  -webkit-animation: apparition 2s forwards;
          animation: apparition 2s forwards;
}

.list__element2 {
  opacity: 0;
  -webkit-animation: apparition 2s forwards;
          animation: apparition 2s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.list__element3 {
  opacity: 0;
  -webkit-animation: apparition 2s forwards;
          animation: apparition 2s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
