@charset "UTF-8";
@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Shrikhand-Regular;
  src: url(Shrikhand-Regular.ttf);
}

/* Variables */
img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button--Order {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10em;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 1px 1px 6px black;
          box-shadow: 1px 1px 6px black;
  margin-bottom: 2em;
  margin-top: 2em;
}

.button--Order:hover {
  -webkit-box-shadow: 2px 2px 8px black;
          box-shadow: 2px 2px 8px black;
  background-color: #9356DC;
  cursor: pointer;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

h5 {
  font-size: 18px;
  margin: 0.2em 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.imgArticle {
  margin-bottom: -50px;
}

.Article__left > h5 {
  font-size: 18px;
  margin: 0.2em 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.banner {
  position: relative;
  z-index: -1;
  margin-bottom: -45px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
  background-color: #f8f8f8;
  z-index: 1;
}

article.Article__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.heart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.fa-check-circle {
  color: white;
  background-color: #99E2D0;
  font-size: 20px;
}

.Article__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Shrikhand-Regular;
  font-size: 30px;
  padding-left: 5%;
  font-weight: 100;
}

ul.Article__listContainer {
  padding-left: 0;
  -webkit-animation: none;
          animation: none;
}

ul.Article__listContainer > li {
  width: 90%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1em;
  margin: 1em 5%;
  -webkit-box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.4);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.Article__Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: bold;
}

li:hover {
  cursor: pointer;
}

li:hover .Article__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-animation: slidein 0.8s;
          animation: slidein 0.8s;
}

li:hover .Article__right > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotationC 0.8s forwards;
          animation: rotationC 0.8s forwards;
}

li:hover .Article__left {
  width: 80%;
  -webkit-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

li:hover .Article__left__ligne {
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.Article__menu__titre {
  font-size: 22px;
  font-weight: normal;
  opacity: 80%;
  margin-left: 20px;
  border-bottom: #99E2D0 3px solid;
}

.Article__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-animation: none;
          animation: none;
}

.Article__left__ligne {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.Article__left__ligne > p {
  margin: 0;
  padding: 0;
  -webkit-animation: none;
          animation: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  animation: none;
}

.Article__right {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
  height: auto;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* KEYFRAMES */
/* Apparition Menu */
@-webkit-keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Apparition élément validation */
@-webkit-keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

/* Rotation item */
@-webkit-keyframes rotationC {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-left: 100%;
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    margin-left: 0%;
  }
}
@keyframes rotationC {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-left: 100%;
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    margin-left: 0%;
  }
}

/* Elements liste */
.list__element1 {
  opacity: 0;
  -webkit-animation: apparition 2s forwards 1s;
          animation: apparition 2s forwards 1s;
}

.list__element2 {
  opacity: 0;
  -webkit-animation: apparition 2s forwards;
          animation: apparition 2s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.list__element3 {
  opacity: 0;
  -webkit-animation: apparition 2s forwards;
          animation: apparition 2s forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
