@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
    font-family: Shrikhand-Regular;
    src: url(Shrikhand-Regular.ttf);
  }


@mixin flexcenter {
    display: flex ;
    justify-content: center ;
    align-self: center;
}
/* Variables */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fontregular: Roboto-Regular;
$fontimportant: Shrikhand-Regular;
$background-color:rgb(245, 245, 245);


img{width:100%;
    height: auto ;
    border-radius: 0;}
html, body{
        margin :0;
        padding: 0;
        height: 100%;}

body{display: flex; justify-content: flex-start;}

.button--Order {
    background-color: $primary-color;
    @include flexcenter ;
    border-radius: 10em;
    margin-left : auto ;
    margin-right : auto ;
    font-weight: bold ;
    color : white ;
    box-shadow: 1px 1px 6px black;
    margin-bottom: 2em ;
    margin-top: 2em;
        &:hover
            {box-shadow: 2px 2px 8px black;
            background-color: $primary-color;
            cursor: pointer;
            transition-duration: 400ms;
            }
        }

.imgArticle{margin-bottom: -50px;}
h5{font-size: 18px;
    margin : 0.2em 0;
    display: inline-flex;}
.banner{position : relative ;
    z-index: -1 ; margin-bottom: -45px;}

article{@include flexcenter ;
    border-top-left-radius: 3em ;
    border-top-right-radius: 3em;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: rgb(223, 223, 223) ;
    z-index: 1;
    &.Article__container{border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    }
}



.fa-check-circle{color : white;
    background-color :  $tertiary-color ;
    font-size: 20px;
    }

.Article__titre{
    display : flex ;
    justify-content : space-between ;
    font-family: $fontimportant;
    font-size: 30px;
    padding-left: 5%;
    font-weight:100;
}



ul.Article__listContainer{
    padding-left: 0;
    animation: none;
    & > li {
    width: 90% ;
    height: 70px;
    display : flex ;
    background-color: white ;
    border-radius: 1em ;
    margin : 1em 5% ;
    box-shadow: 8px 7px 28px -3px rgba(0,0,0,0.49);
    flex: 1;
    position: relative;}
}

.Article__Price{display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;}

li:hover{
    cursor:pointer;
    &  .Article__right{
        display: flex;
        width: 20%;
        animation: slidein 0.8s;
    }
    &  .Article__right > p {
        display: flex;
        animation: rotationC 0.8s forwards;
    }
    & .Article__left{width: 80%; transition: 0.8s ease-in;}
    & .Article__left__ligne{width: 100%; transition: 0.8s;}

}

.Article__menu__titre{font-size: 22px;
    font-weight:normal;
    opacity: 80%;
    margin-left: 20px;
    border-bottom: $tertiary-color 3px solid;
}

.Article__left{
    display : flex ;
    width:100%;
    flex-direction:column;
    padding : 0.5em ;
    white-space: nowrap ;
    text-overflow: ellipsis;
    overflow: hidden;
    animation: none;
}



.Article__left__ligne{
    display: inline-flex;
    justify-content: space-between;
    margin: 0;

        & > p {
            margin: 0;
            padding: 0;
            animation: none;
            text-overflow: ellipsis;
            white-space: nowrap ;
            overflow: hidden;
            animation: none;
        }
    }

.Article__right{
    display : none ;
    justify-content : center ;
    align-items: center ;
    background-color: $tertiary-color ;
    flex-direction:column;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: hidden;
    height: auto;
    width: 0%;
    transition: 0.5s;

}


/* KEYFRAMES */
/* Apparition Menu */
@keyframes apparition {
    from {
        opacity: 0 ;
        transform : translateX(-100px) ;
    }
    to {
        opacity: 1 ;
        transform : translateX(0);
    }
}

/* Apparition élément validation */
@keyframes slidein {
    from {
      width :0%;
    }

    to {

      width: 20%;
    }
  }

/* Rotation item */
@keyframes rotationC {
    from {
        transform: rotate(0deg);
        margin-left: 100%;

    }
    to {
        transform: rotate(-360deg);
        margin-left: 0%;
    }
}

/* Elements liste */
.list__element1{
    opacity:0;
    animation: apparition 2s forwards 1s;}
.list__element2{
    opacity : 0 ;
    animation: apparition 2s forwards;
    animation-delay: 3s;}
.list__element3{
    opacity : 0 ;
    animation: apparition 2s forwards;
    animation-delay: 5s;}


