@import url("variables.scss");

@font-face {
    font-family: Roboto-Regular;
    src: url(Roboto-Regular.ttf);
    font-family: Shrikhand-Regular;
    src: url(Shrikhand-Regular.ttf);
  }


@mixin flexcenter {
    display: flex ;
    justify-content: center ;
    align-self: center;
}
/* Variables */ 
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$fontregular: Roboto-Regular;
$fontimportant: Shrikhand-Regular;
$background-color:rgb(245, 245, 245);


img{width:100%;
    height: auto ; 
    border-radius: 0;}

.button--Order {
    background-color: $primary-color;
    padding : 1em 0em ; 
@include flexcenter ;
    border-radius: 10em;
    width :60%;
    margin-left : auto ;
    margin-right : auto ;
    font-weight: bold ;
    color : white ;
    box-shadow: 1px 1px 6px black;
    margin-bottom: 2em ;
        &:hover
            {box-shadow: 2px 2px 8px black;
            background-color: $primary-color;
            cursor: pointer;
            transition-duration: 200ms;
            }
        }

.imgArticle{margin-bottom: -50px;}
h5{font-size: 18px;
    margin : 0.2em 0;}

.banner{position : relative ; 
    z-index: 0 ;}
    
article{@include flexcenter ;
    border-top-left-radius: 3em ;
    border-top-right-radius: 3em; 
    flex-direction: column;
    width: 100%;
    padding: 0;
    background-color: rgb(223, 223, 223) ; 
    z-index: 1;
    &.Article__container{border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
    }
}

.fa-heart{padding-right: 1em ;
    &:hover{fill : $primary-color ;
        cursor: pointer;

    }
}
.fa-check-circle{color : white ;
    background-color : $tertiary-color ;
    font-size: 20px;
    }

.Articlelignetext{white-space: nowrap ;
    text-overflow: ellipsis;
    overflow: hidden;
    margin : 0;
    font-size: 14px;}


.Article__titre{
    display : flex ; 
    justify-content : space-between ;
    font-family: $fontimportant; 
    font-size: 30px; 
    padding-left: 5%;
    font-weight:100;}
ul.Article__listContainer > li {
    width: 320px ;
    height: 70px;
    display : flex ;
    flex-direction: row;
    background-color: white ; 
    border-radius: 1em ;
    margin : 1em 5% ;
    box-shadow: 8px 7px 28px -3px rgba(0,0,0,0.49);

    }


li:hover{cursor:pointer;
    &  .Article__left{width:80%;}
    &  .Article__right{width:20%; display: flex ; transform-origin: right; transform: translateX(20% left); transition : 1000ms;}
}


.Article__menu__titre{font-size: 22px;
    font-weight:none;
    opacity: 80%;
    margin-left: 20px;
    text-decoration: underline 3px solid $tertiary-color;
    text-underline-position: under;
}

.Article__left{
    display : flex ;
    width:100%;
    flex-direction:column;
    justify-content: flex-start ;
    margin : 0;
    font-size: 15px;
    padding : 0.5em ;
    white-space: nowrap ;
    text-overflow: ellipsis;
    overflow: hidden;
    }

div.Article__left > p{
    display : flex ; 
    justify-content : space-between ;
    padding-bottom: 2em;
    white-space: nowrap ;
    text-overflow: ellipsis;
    overflow: hidden;
    }

.Article__right{
    display : none ;
    justify-content : center ;
    align-items: center ;
    width : 20%;
    background-color: $tertiary-color ;
    flex-direction:column;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    overflow: hidden;

}


@keyframes apparition {
    from {
        opacity: 0 ;
        transform : translateX(-100px) ;
    }
    to {
        opacity: 1 ;
        transform : translateX(0);
    }
}
.list__element1{opacity:0; animation: apparition 2s forwards;}
.list__element2{opacity : 0 ;animation: apparition 2s forwards; animation-delay: 2s;}
.list__element3{opacity : 0 ; animation: apparition 2s forwards; animation-delay: 4s;}